@import "tailwindcss";

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: 2px 2px 4px #d1d9e6, -2px -2px 4px #ffffff;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  background: #e0e0e0;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #ffffff;
}